.promos {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding: 1rem;
  margin: 2rem;
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.promo-card {
  position: relative;
  background-color: var(--secondary-clr);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-card a {
  display: flex;
  justify-content: center;
}

.promo-card-img {
  width: 20rem;
  height: 12rem;
  transition: 0.5s ease;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  color: var(--white-clr);
}

.promo-card:hover .overlay {
  opacity: 1;
}

.homepage-banner {
  padding: 1rem;
  margin: 2rem 1rem;
}

.homepage-banner img {
  height: 25rem;
  width: 100%;
}

.display-flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
